<%- include('partials/header') -%>

<%- include('partials/navbar') -%>
<%- include('components/alerts') -%>


<div class="container">
    <div class="inner-container">
        <img src="images/<%= statusImage %>.png" width="416px">
        <br><br>
        <h3><%= statusText %></h3>
    </div>
</div>

<%- include('partials/footer') -%>